:root{
    --yellow: #FED32C;
    --red: #FF231F;
    --green: #45FF81;
    --blue: #2C57FE;
    --dark-blue: #20242A;
    --gray: #2B3038;
    --dark: #1A1D22;
    --light-gray: #7F8388;
    --dark-line: #252A31;
    --color-gray: #7F8388;
}
