#ui-datepicker-div{
    bottom: 0;
    left: 0 !important;
    width: 100%;
    padding: 15px 0 !important;
    border: none !important;
    font-family: 'Vinnytsia' !important;
    top: auto !important; 
    background: var(--gray);
    color: #FFF;
    z-index: 1000 !important;
    overflow: hidden;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
    color: #FFF !important;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0 !important;
    text-align: center !important;
    text-decoration: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none !important;
    background: none !important;
    color: #FFF !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;
    line-height: 27px;
    
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: var(--yellow) !important;
    color: #000 !important;
    font-weight: bold !important; 
}

.ui-datepicker td {
    padding: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
    padding: 30px 0 !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: auto !important; 
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: var(--light-gray) !important;
}


.ui-corner-all [class^="fa-"],
.ui-corner-all [class*=" fa-"] {
    font-size: 14px;
    line-height: 51px;
    height: 25px;
    padding: 0px;
    float: left;
    color: #FFF;
}

.ui-datepicker .ui-datepicker-prev {
    left: 15px !important;
}

.ui-datepicker .ui-datepicker-next {
    right: 15px !important;
}

.ui-state-hover{
    background: var(--yellow) !important;
    border-radius: 50% !important;
    border: none !important;
    color: #FFF !important;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../img/datepicker/ui-icons_ffffff_256x240.png) !important;
}

.ui-corner-all:hover > .ui-icon{
    background-image: url(../img/datepicker/ui-icons_444444_256x240.png) !important;
}

.ui-icon-circle-triangle-e {
    background-position: -32px 0px !important;
}

.ui-icon-circle-triangle-w {
    background-position: -96px 0px !important;
}