@font-face {
    font-family: 'Vinnytsia'; 
    font-style: normal; 
    font-weight: normal; 
    src: local('Vinnytsia'), url("../fonts/VinnytsiaSansReg.ttf") format("truetype"); 
    } 

@font-face {
    font-family: 'Vinnytsia'; 
    font-style: normal; 
    font-weight: bold; 
    src: local('Vinnytsia'), url("../fonts/VinnytsiaSansBold.ttf") format("truetype"); 
    } 